<div class="signin-page__wrapper">
  <div class="signin-page__content-container">
    <h1 class="hidden">Форма входу</h1>
    <p class="page-title">Ласкаво просимо!</p>
    <p class="page-description">Будь ласка, введіть свої дані, щоб увійти</p>

    <form class="signin-page__form">
      <ul class="signin-page__form-list">
        <li class="signin-page__form-list-item">
          <pet-world-input [control]="login" [label]="inputLabels.login" [inputType]="inputTypes.text" [placeholder]="placeholders.login" />
        </li>
        <li class="signin-page__form-list-item">
          <pet-world-input [control]="password" [label]="inputLabels.password" [inputType]="inputTypes.password" [placeholder]="placeholders.password" />
        </li>
      </ul>

      <pet-world-button class="submit-button" [isDisabled]="!authForm.valid" (click)="signIn()">
        {{ buttonContent.login }}
      </pet-world-button>
    </form>

    <p> </p>

    <p class="action-description">
      Забули пароль?
      <a class="link" [routerLink]="['/', routingList.auth, routingList.forgotPassword]">Відновити</a>

    <p class="action-description">
      Ще не маєте аккаунту?
      <a class="link" [routerLink]="['/', routingList.auth, routingList.signUp]">Зареєструватися</a>
    </p>
  </div>
</div>
