@import 'mixins';
@import 'variables';

:host {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 120px 0 64px;
}

.signin-page {
  &__wrapper {
    @include central-element-wrapper;
  }

  &__content-container {
    width: 392px;
  }

  &__form-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 25px;
  }

  &__confirm-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  &__confirm-checkbox--text {
    @include text-sizes($font-size-s-1, $line-height-4, $letter-spacing-2);
  }
}

h1 {
  @include visually-hidden;
}

.submit-button {
  width: 100%;
  margin-bottom: 32px;
}

.action-description {
  @include text-sizes($font-size-s-1, $line-height-1, $letter-spacing-2);
  text-align: center;
}

.link {
  @include link-action;
  @include text-sizes($font-size-s-1, $line-height-1, $letter-spacing-2);
}
