<div class="page__wrapper">
  <div class="content-container">
    <h1 class="page-title">Забули пароль?</h1>

    <p class="page-description">Не хвилюйтесь, ми відправимо Вам код для відновлення паролю на пошту</p>

    <div class="page-inputs__wrapper">
      <pet-world-input [control]="email" [label]="inputLabels.email" [placeholder]="placeholders.email" />
    </div>

    <pet-world-button class="page-button" [isDisabled]="isEmailInvalid" (click)="onResetPassword()">
      {{ buttonContent.sendCode }}
    </pet-world-button>
  </div>
</div>
