@import 'mixins';

:host {
  background-color: $color-white-2;
  flex-grow: 1;
}

.no-internet-page {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 256px 0 392px;
  text-align: center;

  &__paragraph {
    @include text-sizes($font-size-m-3, $line-height-2);
    width: 624px;
  }
}
