<footer class="footer app-container">
  <div class="main-info">
    <!-- TODO: add actual href -->
    <a href="#" title="На головну">
      <svg width="204" height="56">
        <use xlink:href="/assets/icons/sprite-logotypes.svg#footer-logo" />
      </svg>
    </a>
    <address class="address">
      <h3 class="header">Контакти</h3>
      <a class="link-footer" href="mailto:support@petworld.pet" target="_blank">support&#64;petworld.pet</a>
    </address>
  </div>
  <!-- TODO: add actual href -->
  <p class="legal-info">
    Copyright 2024 |
    <a class="link-footer" href="#" target="_blank">Політика конфіденційності</a>
  </p>
</footer>
