@import 'variables';
@import 'mixins';

:host {
  min-width: fit-content;
  padding: 32px 108px 16px;
  background-color: $color-black-2;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 48px;

  & .main-info {
    display: flex;
    justify-content: space-between;
  }

  & .link-footer {
    @include link-footer;
  }
}

.address {
  color: $color-white-1;
  letter-spacing: $letter-spacing-2;

  & .header {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }

  & .link-footer {
    font-size: 14px;
    line-height: 24px;
  }
}

.legal-info {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: $color-gray-4;
}
