<h1 class="page-title">Pets catalog</h1>

<div class="filter__wrapper">
  <div class="filter-title__wrapper">
    <h2 class="filter-title">Фільтри</h2>
  </div>

  <pet-world-filter-form
    [isAgeRequired]="false"
    [petTypes]="petTypes"
    [breedList]="breedList"
    [healthList]="healthList"
    [documentList]="documentList"
    (getBreedList)="getBreedList($event)"
    (filterFormValue)="onFilterForm($event)"
  />
</div>

<div class="catalog">
  <div class="action__wrapper">
    <pet-world-select
      class="action__sort small"
      [control]="sortingControl"
      [dropdown]="sortOptions"
      [placeholder]="placeholders.sort"
      [isSearchable]="false"
    />
    <div class="action__direction">
      <pet-world-button class="icon" [isDisabled]="!isHorizontal" (click)="toggleView()">
        <svg width="24" height="28">
          <use xlink:href="/assets/icons/sprite-icons-small.svg#grid-columns" />
        </svg>
      </pet-world-button>
      <pet-world-button class="icon" [isDisabled]="isHorizontal" (click)="toggleView()">
        <svg width="24" height="28">
          <use xlink:href="/assets/icons/sprite-icons-small.svg#grid-rows" />
        </svg>
      </pet-world-button>
    </div>
  </div>

  <div class="card-list" [ngClass]="isHorizontal ? 'list-view' : 'grid-view'">
    @for (card of proposals(); track card.id) {
      <pet-world-pet-card
        [ngClass]="{ horizontal: isHorizontal }"
        [isHorizontal]="isHorizontal"
        [petCard]="card"
        (click)="onProposal(card.id)"
      />
    }
  </div>
</div>
