<div class="page__wrapper">
  <div class="content-container">
    <h1 class="page-title">Створіть новий пароль</h1>

    <p class="page-description">Встановіть новий пароль для вашого облікового запису</p>

    <div class="page-inputs__wrapper">
      <pet-world-input
        [control]="password"
        [label]="inputLabels.password"
        [inputType]="inputTypes.password"
        [placeholder]="placeholders.password"
      />
    </div>

    <div class="page-inputs__wrapper">
      <pet-world-input
        [control]="passwordDuplicate"
        [label]="inputLabels.confirmPassword"
        [inputType]="inputTypes.password"
        [placeholder]="placeholders.confirmPassword"
      />
    </div>

    <pet-world-button class="page-button" [isDisabled]="isPasswordInvalid" (click)="onChangePassword()">
      {{ buttonContent.changePassword }}
    </pet-world-button>
  </div>
</div>
