<ul class="pet-categories">
  <li class="pet-category">
    <span class="pet-category__amount">150</span>
    <span class="pet-category__name">Собак</span>
  </li>
  <li class="pet-category">
    <span class="pet-category__amount">135</span>
    <span class="pet-category__name">Птахів</span>
  </li>
  <li class="pet-category">
    <span class="pet-category__amount">110</span>
    <span class="pet-category__name">Котів</span>
  </li>
  <li class="pet-category">
    <span class="pet-category__amount">50</span>
    <span class="pet-category__name">Гризунів</span>
  </li>
  <li class="pet-category">
    <span class="pet-category__amount">10</span>
    <span class="pet-category__name">Рептилій</span>
  </li>
</ul>
