@import 'mixins';

:host {
  @include app-main-element(main);
}

.global-header {
  display: flex;
  flex-direction: column;
  gap: 44px;
  width: 664px;
  padding: 148px 0 168px;
}

.main-header {
  @include text-sizes($font-size-l-3, $line-height-7, $letter-spacing-2, 700);
}

.search-form {
  display: flex;
  gap: 16px;
  align-items: end;

  &__select {
    width: 244px;
  }
}

.pet-categories {
  position: relative;
  left: -108px;
}

.newest-ads-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 80px 0 120px;

  &__header {
    @include text-sizes($font-size-l-4, $line-height-8, $letter-spacing-2);
    text-align: center;
  }

  &__pet-cards {
    display: flex;
    gap: 24px;
  }
}

// TODO: remove after finalization of routes
.button__wrapper {
  display: flex;
  flex-direction: column;
}
